  <div class="main">
    <h1>Woorf Woorf</h1>
      
    <h3>Listies and iteration</h3>
    <ul>
      {{#each dude in dudes}}
      <li>{{dude}}</li>
      {{/each}}
    </ul>
    
    <h3>Scope change</h3>
    {{#with dudlies}}
    <p>{{d1}} is a friend of {{d2}} who does not like {{d3}}</p>
    {{/with}}

    <h3>Attributes</h3>
    <p><a {{bind-attr href=someUrl}}>Linkie</a></p>
  </div>