<div class="main">
  
  <header>
    <h1>Woorf Woorf</h1>
  </header>
  
  <section>
    <h3>Computed property</h3>
    <p>{{fullName}}</p>
  </section>
  
  <section>
    <h3>Listies and iteration</h3>
    <ul>
      {{#each dude in dudes}}
      <li>{{dude}}</li>
      {{/each}}
    </ul>
  </section>  
  
  <section>
    <h3>Scope change</h3>
    {{#with dudlies}}
    <p>{{d1}} is a friend of {{d2}} who does not like {{d3}}</p>
    {{/with}}
  </section>
  
  <section>
    <h3>Attributes</h3>
    <p><a {{bind-attr href=someUrl}}>Linkie</a></p>
  </section>


</div>
